.table {
    width: 35%;
    border-collapse: collapse;
    text-align: center;
    overflow: hidden;
    margin-top: -400px;
    box-sizing: border-box;
}

.thead {

    position: sticky;
    z-index: 100;
    border: 2px solid var(--bg2);

}

.trhead {

    background: var(--bg);
}

.th {
    padding: 8px;
    color: var(--text-color);
    text-transform: capitalize;

}

.trbody {

    background: var(--white);

}

.td1 {
    padding: 8px;
    border: 2px solid var(--bg2);

}
.td2 {
    padding: 8px;
    border: 2px solid var(--bg2);

}
.td3 {
    padding: 8px;
    border: 2px solid var(--bg2);

}
  
  .chore-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }


  
  .people-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
  }
  
  .form-field {
    text-align: center;
    margin: 10px;

  }
  
  .select-box,
  .input-date {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin: 5px;
    font-size: 16px;
  }
  
  .input-field {
    font-size: 16px;
  }
  
  .input-label {

    font-weight: bold;
  }

  
  