<html>
  <body>
    <form id="form">
      <input name="chore" type="text" />
      <button type="submit">Submit</button>
    </form>
  </body>

  <script>
    const form = document.getElementById("form");

    form.addEventListener("submit", function (e) {
      e.preventDefault();

      const addChore = new FormData(form);
      alert("Success");

      fetch("http://localhost:5000/AddChores", {
        method: "POST",
        body: addChore,
      })
        .then((data) => console.log(data))
        .catch((err) => console.log(err));
    });
  </script>
</html>
